[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crewai = "*"
onnxruntime = "*"
python-dotenv = "*"
groq = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
pyaudio = "*"
openai = {extras = ["voice_helpers"], version = "*"}
streamlit = "*"
firebase-admin = "*"
openai-agents = "*"
websocket-client = "*"
google-adk = "*"
google-generativeai = "*"
beautifulsoup4 = "*"
langchain = "*"
pydub = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
